In [1]:
# Импорт библиотек
import numpy as np
import pandas as pd
import seaborn as sns

#import lightgbm as lgb # импорт библиотеки LightGBM
#from lightgbm import LGBMRegressor

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.preprocessing import StandardScaler

#import category_encoders as ce

In [2]:
 # чтение файла с данными
data = pd.read_csv('00RUS.csv')

In [3]:
#Выводим датафрейм data на экран
data

   Количество школьников  В возрасте 6-18 лет
0               15219036             19787155
1               15705924             20295175
2               16137286             20887961
3               16565591             21365236
4               16893700             21911893
5               17314160             22410642
6               17745037             22773674
7               17997296             23638919
8               17988139             23128159

In [4]:
#Выводим основную информацию о датафрейме
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Количество школьников  9 non-null      int64
 1   В возрасте 6-18 лет    9 non-null      int64
dtypes: int64(2)
memory usage: 272.0 bytes

# Обучение моделей

In [5]:
# Зададим RandomState
RANDOMSTATE = 12345

In [6]:
# Функция
def split(df, features_df, target_df, test_df):
    # Разбиваем выборку в соотношении 78:22. 
    train, valid = np.split(df.sample(frac=1, random_state=RANDOMSTATE), [int(.78*len(df))])

    # Проверяем сколько строк и столбцов в полученных датасетах
    print('Размер обучающей выборки - {:.0%}'.format(train.shape[0] / data.shape[0]))
    print('Размер валидационной выборки- {:.0%}'.format(valid.shape[0] / data.shape[0]))
    
    print('Проверяем размер обучающей выборки')
    print(train.shape) 
    print('Проверяем размер валидационной выборки')
    print(valid.shape)
    
    # Разбиваем на целевой признак и признаки модели.
    target_train = train[target_df]
    features_train = train[features_df]

    target_valid = valid[target_df]
    features_valid = valid[features_df]
    
    model = LinearRegression()
    model.fit(features_train, target_train)

    predicted_target= model.predict(features_valid) #предсказание на валидационной выборке
    mean_predicted_target = predicted_target.mean()
    

    print('')
    print('Среднее значение предсказанного количества школьников за год :', predicted_target.mean())
    print('RMSE :', mean_squared_error(target_valid, predicted_target)**0.5)
    
    predicted_target= model.predict(test_df) #предсказание на валидационной выборке
    print('Предсказания на 2025-2045 годы: ')
    print(predicted_target.reshape((-1, 1)))
    
    #return target_valid, predicted_target

In [7]:
 # чтение файла с данными
features_test = pd.read_csv('00RUS_predict.csv')

In [8]:
#Выводим датафрейм data на экран
features_test

    В возрасте 6-18 лет
0              23154041
1              22993937
2              22699332
3              22310665
4              21813985
5              21193165
6              20449487
7              19705616
8              18943074
9              18178844
10             17492718
11             17008297
12             16616956
13             16366199
14             16196444
15             16077876
16             16066222
17             16139753
18             16316695
19             16533661
20             16776245

In [9]:
split(data, ['В возрасте 6-18 лет'],'Количество школьников', features_test)

Размер обучающей выборки - 78%
Размер валидационной выборки- 22%
Проверяем размер обучающей выборки
(7, 2)
Проверяем размер валидационной выборки
(2, 2)

Среднее значение предсказанного количества школьников за год : 16725728.890134979
RMSE : 7152.666966111123
Предсказания на 2025-2045 годы:
[[17874599.20544934]
 [17752359.619818  ]
 [17527428.36810089]
 [17230680.67267435]
 [16851464.92921156]
 [16377468.1549171 ]
 [15809669.15824535]
 [15241722.80585466]
 [14659521.12378249]
 [14076030.65179535]
 [13552172.67241395]
 [13182316.68935848]
 [12883527.3918984 ]
 [12692074.13792502]
 [12562466.00284504]
 [12471939.20033457]
 [12463041.3581136 ]
 [12519182.36003146]
 [12654277.77776479]
 [12819931.56490369]
 [13005144.72410515]]